n8n-website-monitoring-system.json
{
  "name": "webiste status",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c04750a4-a623-4066-b442-a0782bfe7c95",
              "leftValue": "={{$json[\"statusCode\"].tostring()}}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        464
      ],
      "id": "e9de9d40-983f-42bb-a8fa-d512ffc7100a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://erp.superior.edu.pk/students/dashboard",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        112,
        464
      ],
      "id": "715c1e1d-a364-4eed-b26c-6f9851c567d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49631e53-3118-4b53-8785-57261b0f5751",
              "name": "Website status ",
              "value": "UP ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        336
      ],
      "id": "a4818933-83c5-4e81-8974-b3d20c6dfd76",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51be97ab-daeb-4cff-9726-bf5fc3da3c97",
              "name": "Website Status ",
              "value": "Down",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        576
      ],
      "id": "c0e0806a-94ea-461c-bb3b-5824208da246",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "wasyhaider2@gmail.com",
        "subject": "Website Status",
        "message": "Your website is Okay and code is 200",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        336
      ],
      "id": "01f78f0a-6ece-48f8-a6ae-aa4f699f45c2",
      "name": "Send a message",
      "webhookId": "3e2c1055-46cb-4c6b-8f0f-ea13429488d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "n4p1mATyNuCNUo8v",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "wasyhaider2@gmail.com",
        "subject": "Website Status ",
        "message": "Your website is not well . It is down ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        576
      ],
      "id": "57966de1-5874-498d-ab51-b38811a5547a",
      "name": "Send a message1",
      "webhookId": "0dde13d0-cde7-430c-84e3-ea2f49b757b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "n4p1mATyNuCNUo8v",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        464
      ],
      "id": "2070bb50-0798-478a-8191-22ee048066f3",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c16d4734-0ac6-4b44-b21f-292b018d6cc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11cf6cf029af37bfb822fbf1654a13ca18c5a2cfbcc65312889ebbb46cf14e0a"
  },
  "id": "HptUUwBJWJYTWNOK",
  "tags": []
}
 
